:root {
/* Tailwind 3.0 color palette */

  /* Green */
  --Green-50: #f0fdf4;
  --Green-100: #dcfce7;
  --Green-200: #bbf7d0;
  --Green-300: #86efac;
  --Green-400: #4ade80;
  --Green-500: #22c55e;
  --Green-600: #16a34a;
  --Green-700: #15803d;
  --Green-800: #166534;
  --Green-900: #14532d;

  --Gray-200: #e5e7eb;
  --Gray-300: #d1d5db;
  --Gray-400: #9ca3af;

/* b2 - 0.70 */
/* cd - 0.80 */
/* da - 0.85 */
/* e6 - 0.90 */

  --GreenTransparency-50: #f0fdf4e6; /* 10% transparency */
  --GreenTransparency-100: #dcfce7cd; /* 20% transparency */

  --GrayTransparency-200: #e5e7ebcd; /* 20% transparency */
  --GrayTransparency-300: #d1d5dbe6; /* 10% transparency */
  --GrayTransparency-400: #9ca3afcd; /* 20% transparency */
}

#root {
  height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.common-card {
  background-color: var(--GreenTransparency-50);
}

.common-card__header {
  background-color: var(--GreenTransparency-100);
}

.page-background {
  height: auto;
  background-image: url("./images/background.jpg");
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  background-color: grey;
}

.login, .history-header{
  background-color: var(--GrayTransparency-200);
  border-radius: 5px;
}

.button--grey {
  background-color: var(--GrayTransparency-300) !important;
}